@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

#main-goal {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.25rem;
    color: #ff0037;
    font-weight: bold;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 6px;
    background-color: #332642;
  }